.goods {
  position: relative;
  margin-bottom: 10px;
  width: 202px;
  height: 250px;
}

.goods a { display: block; }

.human-name {
  position: absolute; 
  margin-bottom: 10px;
  top: 151px;
  left: 55px; 
  width: 122px;
  height: 11px;
}

a.goods-menu {
  border: 1px solid #777;
  width: 256px;
  height: 190px;
}

a.odairi {
  position: absolute;
  top: 80px;
  left: 75px;
}

a.ohina {
  position: absolute;
  top: 59px;
  left: 75px;
}

.bonbori-left {
  position: absolute;
  top: 180px;
  left: 170px;
}

.bonbori-right {
  position: absolute;
  top: 173px;
  right: 100px;
}

.mikan {
  position: absolute;
  top: 273px;
  left: 400px;
}

.kagami-left {
  position: absolute;
  top: 273px;
  left: 300px;
}

.kagami-right {
  position: absolute;
  top: 273px;
  right: 200px;
}