.goods {
  position: relative;
  margin-bottom: 10px;
  width: 252px;
  height: 190px;
}

.goods-1 {
  position: relative;
  margin-bottom: 10px;
  width: 252px;
  height: 190px;
  left: 252px;
}
.goods-2 {
  position: relative;
  margin-bottom: 10px;
  width: 252px;
  height: 190px;
  left: 352px;
}
.goods-3 {
  position: relative;
  margin-bottom: 10px;
  width: 252px;
  height: 190px;
  left: 452px;
}
.goods-4 {
  position: relative;
  margin-bottom: 10px;
  width: 252px;
  height: 190px;
  left: 552px;
}

.goods a { display: block; }

.human-name {
  position: absolute; 
  margin-bottom: 10px;
  top: 91px;
  left: 15px; 
  width: 122px;
  height: 11px;
}

a.goods-menu {
  border: 1px solid #777;
  width: 250px;
  height: 188px;
}

a.odairi {
  position: absolute;
  top: 94px;
  left: 100px;
}

a.ohina {
  position: absolute;
  top: 73px;
  left: 100px;
}

.left-bonbori {
  position: absolute;
  top: 173px;
  left: 200px;
}

.right-bonbori {
  position: absolute;
  top: 173px;
  right: 200px;
}

.mikan {
  position: absolute;
  top: 273px;
  left: 400px;
}

.kagami-left {
  position: absolute;
  top: 273px;
  left: 400px;
}

.kagami-right {
  position: absolute;
  top: 273px;
  right: 400px;
}