<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>トモひな</title>
    <link rel="stylesheet" href="{{ static_url("facebook.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("hina.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" type="text/css"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("fb_plugin.js") }}"></script>
    <div id="fb-root"></div>

    <div id="body" style="padding-top:40px">
      <!-- LIKEボタン http://developers.facebook.com/docs/reference/plugins/like/ -->
      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
          <div class="container">
              <a href="" class="brand">トモひな</a>
              <ul class="nav">
                <li class="active"><a href="">Home</a></li>
                <li><div style="margin-left:15px;margin-top:10px">{{ escape(current_user["name"]) }}</div></li>
                <li><a href="/auth/logout">Log Out</a></li>
              </ul>
          </div>
          </div>
      </div>
      <!-- 楽天アフィリエイト -->
      <a href="http://hb.afl.rakuten.co.jp/hgc/10cc21ad.2eaf88e0.10cc21ad.2eaf88e0/_RTogcl10000001?pc=http%3A%2F%2Fecustom.listing.rakuten.co.jp%2Frms%2Fsd%2Fecustom%2Fmall%3Fg%3D300838%26nm%3D%25E3%2583%2588%25E3%2583%25A2%25E3%2581%25B2%25E3%2581%25AA%26bk%3D49.212.162.124%253A3000%26hd%3D%26cl%3DFF76D2%26aid%3D10cc21ad.2eaf88e0" target="_blank"><img src="http://www.rakuten.co.jp/com/img/service/listing/sample_shopping.gif" border="0"></a>

      <!-- div style="margin-bottom:1em"><a href="/">{{ _("Refresh stream") }}</a></div -->
      <div class="fb-like" data-href="http://tomohina.zapto.org" data-send="false" data-width="450" data-show-faces="true"></div>

      <!--img src="{{ static_url("img/momo.jpeg") }}" width="120" height="120"/-->

      <!--img class="mikan" src="{{ static_url("img/mikan.jpeg") }}" width="120" height="120"/-->
      <img class="kagami-left" src="{{ static_url("img/kagami.jpeg") }}" width="120" height="120"/>
      <img class="kagami-right" src="{{ static_url("img/kagami.jpeg") }}" width="120" height="120"/>

      <div id="stream">
        {% set count = 1 %}
        {% for post in stream["data"] %}
          {{ modules.Post(post, count) }}
          {% set count = count + 1 %}
          {% if count > 3 %}
          {% set count = 1 %}
          {% end %}
        {% end %}
      </div>

      <img class="left-bonbori" src="{{ static_url("img/bonbori.jpeg") }}" width="120" height="120"/>
      <img class="right-bonbori" src="{{ static_url("img/bonbori.jpeg") }}" width="120" height="120"/>

    </div>

  </body>
</html>
