<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>雛人形</title>
    <link rel="stylesheet" href="{{ static_url("facebook.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" type="text/css"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <div id="body" style="padding-top:40px">
      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
          <div class="container">
              <a href="" class="brand">雛人形</a>
              <ul class="nav">
                <li class="active"><a href="">Home</a></li>
                <li><div style="margin-left:15px;margin-top:10px">{{ escape(current_user["name"]) }}</div></li>
                <li><a href="/auth/logout">Log Out</a></li>
              </ul>
          </div>
          </div>
      </div>

      <div style="margin-bottom:1em"><a href="/">{{ _("Refresh stream") }}</a></div>
      <div id="stream">
        {% for post in stream["data"] %}
          {{ modules.Post(post) }}
        {% end %}
      </div>
    </div>
  </body>
</html>
