<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>トモひな</title>
    <link rel="stylesheet" href="{{ static_url("facebook.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("hina.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" type="text/css"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("fb_plugin.js") }}"></script>
    <div id="fb-root"></div>

    <div id="body" style="padding-top:40px">

      <!-- 楽天アフィリエイト -->
      <a href="http://hb.afl.rakuten.co.jp/hgc/10cc21ad.2eaf88e0.10cc21ad.2eaf88e0/_RTogcl10000001?pc=http%3A%2F%2Fecustom.listing.rakuten.co.jp%2Frms%2Fsd%2Fecustom%2Fmall%3Fg%3D300838%26nm%3D%25E3%2583%2588%25E3%2583%25A2%25E3%2581%25B2%25E3%2581%25AA%26bk%3D49.212.162.124%253A3000%26hd%3D%26cl%3DFF76D2%26aid%3D10cc21ad.2eaf88e0" target="_blank"><img src="http://www.rakuten.co.jp/com/img/service/listing/sample_shopping.gif" border="0"></a>

      <!-- Amazon -->
      <!-- ディズニー -->
      <a href="http://www.amazon.co.jp/gp/product/B00AZQW1QU/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=B00AZQW1QU&linkCode=as2&tag=noctushinrsdi-22"><img border="0" src="http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&ASIN=B00AZQW1QU&Format=_SL110_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=noctushinrsdi-22" ></a><img src="http://www.assoc-amazon.jp/e/ir?t=noctushinrsdi-22&l=as2&o=9&a=B00AZQW1QU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      <!-- 普通の -->
      <a href="http://www.amazon.co.jp/gp/product/B009C22550/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=B009C22550&linkCode=as2&tag=noctushinrsdi-22"><img border="0" src="http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&ASIN=B009C22550&Format=_SL110_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=noctushinrsdi-22" ></a><img src="http://www.assoc-amazon.jp/e/ir?t=noctushinrsdi-22&l=as2&o=9&a=B009C22550" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      <!-- アンパンマン -->
      <a href="http://www.amazon.co.jp/gp/product/B002NWOOI2/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=B002NWOOI2&linkCode=as2&tag=noctushinrsdi-22"><img border="0" src="http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&ASIN=B002NWOOI2&Format=_SL110_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=noctushinrsdi-22" ></a><img src="http://www.assoc-amazon.jp/e/ir?t=noctushinrsdi-22&l=as2&o=9&a=B002NWOOI2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

      <!-- div style="margin-bottom:1em"><a href="/">{{ _("Refresh stream") }}</a></div -->
      <!-- LIKEボタン http://developers.facebook.com/docs/reference/plugins/like/ -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=529652807075509";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <html xmlns:fb="http://ogp.me/ns/fb#">
      <fb:like href="http://tomohina.zapto.org" send="false" width="450" show_faces="true"></fb:like>
      
      <!--img src="{{ static_url("img/momo.jpeg") }}" width="120" height="120"/-->

      <!--img class="mikan" src="{{ static_url("img/mikan.jpeg") }}" width="120" height="120"/-->
      <img class="kagami-left" src="{{ static_url("img/kagami.jpeg") }}" width="120" height="120"/>
      <img class="kagami-right" src="{{ static_url("img/kagami.jpeg") }}" width="120" height="120"/>

      <div id="stream">
        <table>
        {% set count = 0 %}
        {% for post in stream["data"] %}
          {{ modules.Post(post, count) }}
          {% set count = count + 1 %}
          {% if count > 3 %}
          {% set count = 0 %}
          {% end %}
        {% end %}
        </table>
      </div>

      <img class="bonbori-left" src="{{ static_url("img/bonbori.jpeg") }}" width="120" height="120"/>
      <img class="bonbori-right" src="{{ static_url("img/bonbori.jpeg") }}" width="120" height="120"/>

    </div>
    <hr />
    <center>Powered by Tornado (c)shinriyo</center>
    <br />
  </body>
</html>
